<div class="foof">
	<div class="footer">
	<ul>
		<li>关于我们</li>
		<li><a href="#">关于nubia</a></li>
		<li><a href="#">新闻中心</a></li>
		<li><a href="#">体验店</a></li>
		<li><a href="#">公益</a></li>
		<li><a href="#">视频长廊</a></li>
		<li><a href="#">联系我们</a></li>
		<li><a href="#">友情链接</a></li>
		<li><a href="#">合作伙伴</a></li>
	</ul>
	<ul>
		<li>手机</li>
		<li><a href="#">红魔Mars</a></li>
		<li><a href="#">努比亚X</a></li>
		<li><a href="#">Z18</a></li>
		<li><a href="#">红魔电竞手机</a></li>
		<li><a href="#">Z18mini</a></li>
		<li><a href="#">V18</a></li>
		<li><a href="#">nubiaZ17S</a></li>
		<li><a href="#">nubiaZ17minis</a></li>
		<li><a href="#">nubia Z17</a></li>
		<li><a href="#">nubia Z17mini</a></li>
		<li><a href="#">nubia Z11</a></li>
		<li><a href="#">nubia N3</a></li>
		<li><a href="#">M2青春版</a></li>
		<li><a href="#">N2</a></li>
		<li><a href="#">M2畅玩版</a></li>
	</ul>
	<ul>
		<li>配件</li>
		<li><a href="#">保护壳</a></li>
		<li><a href="#">皮套</a></li>
		<li><a href="#">贴膜</a></li>
		<li><a href="#">耳机</a></li>
		<li><a href="#">数据线/充电器</a></li>
		<li><a href="#">周边产品</a></li>
	</ul>
	<ul>
		<li>服务中心</li>
		<li><a href="#">个人中心</a></li>
		<li><a href="#">售后服务</a></li>
		<li><a href="#">售后网点</a></li>
		<li><a href="#">特色服务</a></li>
		<li><a href="#">软件下载</a></li>
		<li><a href="#">产品安全</a></li>
	</ul>
	<ul>
		<li>关注我们</li>
		<li><a href="#">官方社区</a></li>
		<li><a href="#">新浪微博</a></li>
	</ul>
	<ul>
		<li>全国服务热线</li>
		<li><a href="#"><i class="iconfont icon-dianhua
"></i>400-700-6600</a></li>
		<li>周一到周日 8:30-20:30</li>
		<li>(全年无休)</li>
		<li><a href="#"><span><i class="iconfont icon-xiaoxi
"></i>在线客服</span></a></li>
	</ul>
</div>
</div>
<div class="lastDiv">
	<p><a href="/index.html"><img src="/static/images/nubia-logo-x2.png" alt="" /></a></p>
	<b><a href="#"><i class="iconfont icon-weibo"></i></a><a href="#" class="weixin"><i class="iconfont icon-weixin2"></i><div class="wxdiv"></div></a></b>
	<p>2012-2018 努比亚技术有限公司 版权所有 粤ICP备10006213号</p>
	<p><a href="#"><img src="/static/images/57c5599015f1558.png"/></a>ICP经营许可证编号：粤B2-20120688
		<a href="#"><img src="/static/images/57c5599015f1558.png"/>粤公网安备 44030502000309号</a>
		<a href="#"></a>
		<a href="#"></a>
	</p>
	<p><a href="#">加入我们</a>- <a href="#">公益</a>- <a href="#">星空之约</a>- <a href="#">问题反馈</a>- 
		<a href="#"></a>
</p>
	   
	
	
</div>