<div class="hf">
	<div class="header">
		<h1>
			<a href="/index.html"></a>
		</h1>
		<ul>
			<li><a href="/html/shop.html">商城</a></li>
			<li id="phone"><a href="#">手机</a></li>
			<li id="hongmo"><a href="#">红魔手机</a></li>
			<li id="peijian"><a href="#">配件</a></li>
			<li id="sheyin"><a href="#">摄影</a></li>
			<li><a href="#">服务</a></li>
			<li><a href="#">体验店</a></li>
			<li><a href="#">社区</a></li>
			<li id="ui"><a href="#">nubia UI</a></li>
		</ul>
		<span class="buyCar"><a href="#">购物车
			<i class="iconfont icon-gouwuchekong"></i>
		</a></span>
		<span class="login"><a href="/html/login.html">
			<i class="iconfont icon-icon-test"></i>
		</a></span>
	</div>
</div>
<div class="disbox" id="disbox"></div>
<div class="fix">
	<a href="#"><i class="iconfont icon-kefu"></i></a>
	<a href="#"><i class="iconfont icon-shangcheng"></i><div class="shangcheng"></div></a>
	<a id="toptop" href="#"><i class="iconfont icon-shangjiantou"></i></a>
</div>