*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    background-color: #f5f5f5;
}
.main {
    width: 850px;
    height: 475px;
    background-color: #fff;
    margin: 80px auto;
    overflow: hidden;
}
.main h1 a {
    display: block;
    width: 165px;
    height: 35px;
    margin: 42px auto;
    background: url(/static/images/loginng.png) no-repeat center;
    background-size: cover;
}
.main input {
    width: 348px;
    height: 48px;
    display: block;
    margin: 0 auto 30px;
    border: 1px solid #e0e4e7;
    padding-left: 10px;
    background-color: #faffbd;
}
.main input:focus {outline:none}
.main .loa {
    width: 360px;
    height: 50px;
    display: block;
    margin: 0 auto 30px;
    background-color: #e8380d;
    line-height: 50px;
    text-align: center;
    color: #fff;
}
.main a {
    color: #e8380d;
    font-size: 14px;
    text-align: center;
    display: block;
}
